body {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #000;
}

section {
	/* width: 14.65em;
	height: 50em;
	top: auto;
  bottom: 0;
  transform-origin: 50% 100%;
	transform: perspective(300px);
	transform: rotateX(25deg); */
	width: 500px;
	margin: 0 auto;
	perspective-origin: 50% 0;
  perspective: 600px;
}

.text {
	margin-top: 0;
	color: #FFFF66;
	background: none;
	font-family: Tahoma, sans-serif;
	font-size: 30px;
  padding: 10px;
  transform: rotateX(30deg);
  /* overflow: auto; */
  height: 500px;
}

.text:focus {
	outline: none;
}