body {
	overflow: hidden;
	text-align: center;
}
table {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	transition: all 1s;
}
td {
	
}

#coords {
	position: fixed;
	left: 45%;
	top: 36%;
	vertical-align: middle;
	font-family: monospace;
	font-size: 50px;
	color: white;
}